@page "/"
@inject NavigationManager NavigationManager
@implements IDisposable

<p>Redirecting...</p>

@code {
  protected override void OnInitialized()
  {
    NavigationManager.NavigateTo($"/connect6");
  }

  public void Dispose() { }
}