@page "/connect6/admin/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IDisposable

<ul style="font-family: 'Courier New', Courier, monospace; font-size: 80%;">
    @foreach (var serverLog in serverLogs)
    {
        <li>@serverLog</li>
    }
</ul>

@code {
  private HubConnection hubConnection;

  [Parameter]
  public String AdminKey { get; set; }

  private List<String> serverLogs = new List<String>();

  protected override async Task OnInitializedAsync()
  {
      hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/Connect6Hub"))
        .Build();

      hubConnection.On<List<String>>("ServerLogReceived", (serverLogs) => ServerLogReceived(serverLogs));

      await hubConnection.StartAsync();
      await hubConnection.SendAsync("RegisterAdminConnection");
  }

  #region Received Events

  private void ServerLogReceived(List<String> serverLogs)
  {
      this.serverLogs = serverLogs;
      StateHasChanged();
  }

  #endregion

  public void Dispose()
  {
      _ = hubConnection.DisposeAsync();
  }
}